<h1>
  {{printThis}}
</h1>

<div class="card-deck">
    <div class="row">     
        <div class="col-sm-4" *ngFor="let media of mediaArray">
            <img [alt]="media?.title" class="card-img-top" [src]="mediaService.mediaUrl + (media?.filename | thumbnail: 'small')">
            <div class="card-body">
                <h4 class="card-title">{{media.title}}</h4>
                <p class="card-text">{{media.description}}</p>
            </div>                
        </div>                     
    </div>
</div>
    


